@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');

html{
  scroll-behavior: smooth;
}

body, html{
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  font-family: 'Playwrite IT Moderna', sans-serif;
}
header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 10px;
}

main {
  flex : 1;
  padding: 20px;
}

footer {
  background-color: #282c34;
  color: white;
  padding: 10px;
  position: relative;
  width: 100%;
  text-align: center;
}