header {
  padding: 10px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 20px; /* Add space below the heading */
}
.header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px; /* Optional: Adds some padding on the sides */
}

.navbar {
  /* display: flex; */

  /* width: 95%; */
  /* flex-direction: column;  */
  align-items: center; /* Center the nav horizontally */
  border-radius: 50px;
  padding: 20px;
  /* margin: 0px 23rem; */
}
.navbar:hover {
    transform: scale(1.05);
    transition: transform 0.7s ease, box-shadow 0.3s ease;
  }

.nav-list {
  display: flex;
  align-items: center; /* Center items vertically */
  gap: 80px; /* Space between items */
  list-style-type: none;
  padding: 0;
  margin: 1rem;
}

.nav-list li {
  margin: 0;
}

.nav-list a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s, font-size 0.3s;
}

.nav-list a:hover {
  color: lightcoral;
  font-size: 18px;
}

/* Style the input field */
.name-bar input {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  margin: 0 10px; /* Space on either side of the input */
}

.connect-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin-left: ; */
}
.hey-div{
    font-family: 'Playwrite IT Moderna', sans-serif;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}